html {
    background-color: #021a3d;
    color: white;
    opacity: 0.8;
}
#main{
    height: 97.7vh;
    background-image: radial-gradient( #29698fc2 12%,#021a3d 80%);
}
.general-flex{
    display: flex;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
}
.calculator{
    height: 58vh;
    width: 50vw;
    /* background-color: aqua; */
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.name{
    height: 6vh;
    /* background-color: red; */
    border: 4px solid white;
    border-radius: 8px;
}
div.text{
    text-align: center;
    margin-top: -4vh;
    font-size: 1.4rem;
}
.display-container{
    min-height: 7vh;
    /* background-color: green; */
    border: 4px solid white;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 0.8vh;
    vertical-align: text-bottom;
    /* word-wrap: break-word; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
#display-text {
    margin: 0.5vw;
    margin-top: 0.4vh;
    margin-right: 2px;
    font-size: 4.8vh;
    text-align: right;
    vertical-align: text-bottom;
}
.btn{
    height: 44vh;
    width: 100%;
    /* background-color: greenyellow; */
    margin-top: 1vh;
    
}
.row{
    height: 8vh;
    width: 100%;
    /* background-color: hotpink; */
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}
.button{
    height: 85%;
    width: 22%;
    display: inline-block;
    border: 4px solid white;
    font-size: 2.5rem; 
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    /* background-color: #215e8e; */
}
.button:hover{
    background-image: radial-gradient( #29698fc2 10%,#13386e 80%);
}

.zero-btn{
    height: 85%;
    width: 47.5%;
    display: inline-block;
    border: 4px solid white;
    font-size: 2.5rem; 
    border-radius: 8px;
    text-align: center;
    cursor: pointer; 
}